<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 定义数据源Bean，使用C3P0数据源实现，并注入数据源的必要信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close"
		p:driverClass="com.mysql.jdbc.Driver"
		p:jdbcUrl="jdbc:mysql://localhost/spring?useSSL=true"
		p:user="root"
		p:password="32147"
		p:maxPoolSize="40"
		p:minPoolSize="2"
		p:initialPoolSize="2"
		p:maxIdleTime="30"/>
		
	<bean id="emf"	
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:dataSource-ref="dataSource">
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true"/>
				<property name="database" value="MYSQL"/>
			</bean>
		</property>
	</bean>

	<!-- 该Bean后处理器会告诉Spring处理DAO组件中@PersistenceContext注解， -->
	<bean class=
	"org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
	
	<!-- 定义Service组件，并将DAO组件注入Service组件 -->	
	<bean id="bookService" class="org.crazyit.booksys.service.impl.BookServiceImpl"
		p:bookDao-ref="bookDao"/>
	<!-- 定义DAO组件，并将SessionFactory注入DAO组件 -->		
	<bean id="bookDao" class="org.crazyit.booksys.dao.impl.BookDaoJpa"/>
	
	<!-- 配置针对JPA的局部事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager"
		p:entityManagerFactory-ref="emf"/>

	<!-- 根据事务注解来生成事务代理 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

</beans>
