<?xml version="1.0" encoding="GBK"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>aa</servlet-name>
		<servlet-class>lee.HelloServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>aa</servlet-name>
		<url-pattern>/aa</url-pattern>
	</servlet-mapping>
</web-app>
