<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 加载容器国际化所需要的语言资源文件 -->
	<bean id="messageSource"
	class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>message</value>
			</list>
		</property>
	</bean>
	<!-- Spring容器会检测容器中所有Bean，如果发现某个Bean实现了
	ApplicationContextAware接口，Spring容器会在创建该Bean之后，
	自动调用该Bean的setApplicationContext()方法，调用该方法时，
	会将容器本身作为参数传给该方法。-->
	<bean id="person" class="org.crazyit.app.service.Person"/>
</beans>
