<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 定义数据源Bean，使用C3P0数据源实现，并注入数据源的必要信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close"
		p:driverClass="com.mysql.jdbc.Driver"
		p:jdbcUrl="jdbc:mysql://localhost/spring?useSSL=true"
		p:user="root"
		p:password="32147"
		p:maxPoolSize="40"
		p:minPoolSize="2"
		p:initialPoolSize="2"
		p:maxIdleTime="30"/>
	<!-- 配置JDBC数据源的局部事务管理器，使用DataSourceTransactionManager 类 -->
	<!-- 该类实现PlatformTransactionManager接口，是针对采用数据源连接的特定实现-->
	<!-- 配置DataSourceTransactionManager时需要依注入DataSource的引用 -->
	<bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource"/>
	<!-- 配置一个业务逻辑Bean -->
	<bean id="newsDao" class="org.crazyit.app.dao.impl.NewsDaoImpl"
		p:ds-ref="dataSource"/>
	<!-- 为业务逻辑Bean配置事务代理
		transactionManager用于为配置事务代理注入所需的事务管理器
		target用于指定为哪个Bean配置事务代理 -->
	<bean id="newsDaoTrans" class=
	"org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		p:transactionManager-ref="transactionManager"
		p:target-ref="newsDao">
		<!-- 指定事务属性 -->
		<property name="transactionAttributes"> 
			<props> 
				<prop key="*">PROPAGATION_REQUIRED</prop> 
			</props>
		</property>
	</bean> 
</beans>