<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 配置两个简单Bean实例 -->
	<bean id="steelAxe" class="org.crazyit.app.service.impl.SteelAxe"/>
	<bean id="chinese" class="org.crazyit.app.service.impl.Chinese"
		init-method="init" p:name="孙悟空" p:axe-ref="steelAxe"/>
	<!-- 配置容器后处理器 -->
	<bean id="beanFactoryPostProcessor" 
		class="org.crazyit.app.util.MyBeanFactoryPostProcessor"/>
</beans>
