<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="exampleBean" class="org.crazyit.app.service.ExampleBean">
		<!-- 驱动Spring调用exampleBean的getPerson().setName()方法，
		以"孙悟空"作为参数 -->
		<property name="person.name" value="孙悟空"/>
	</bean>
</beans>
