<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 定义一个业务逻辑组件，实现类为MyServiceImp，
		此处的id必须与Action的setter方法名对应 -->
	<bean id="ms" 
		class="org.crazyit.app.service.impl.MyServiceImpl"/>
</beans>

